*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url(public/img/indexImages/backgroundImage.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-attachment: fixed;
}

.logo {
	background: url(public/img/indexImages/headerLogo.png);
	height: 120px;
	width: 400px;
	margin: auto;
}

header {
	background-image: url(public/img/indexImages/headerBackground.png);
	border: 10px outset saddlebrown;
	max-width: 100%;
}

#user {
	border: 4px outset black;
	background-color: rgba(105,105,105,0.7);
	width: 200px;
	height: 100px;
	margin: auto;
	margin-top: 25vh;
	
 }

 #offer {
	border: 4px outset black;
	background-color: rgba(105,105,105,0.7);
	width: 200px;
	height: 100px;
	margin: auto;
	margin-top: 25vh;
 }

 #game {
 	margin-top: 25px;
 }

#user span {
	font-family: fantasy;
	font-size: 20pt;
}


#offer span {
	font-family: fantasy;
	font-size: 20pt;
}

#game