.registration-container {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    background: rgba(35, 222, 255, 0.685);
    border-radius: 20px;

}

.registration-container h1 {
    text-align: center;
    
}

.game {
    max-width: 100%;
}

.input-container {
    display: block;
    width: 100%;
    margin: 50px auto;
}

.registration-nickname {
    display: block;
    margin: 0 auto;
}

.registration-password {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.button-container {
    width: 100%;
}

.registration-button {
    display: block;
    margin: 0 auto;
}

#auth-info-message{
    text-align: center;
    padding: 10px;
    color: red;
}

.visible {
    display: block;
}
  
.invisible {
    display: none;
}
  
