*{
  margin: 0;
  padding: 0;
}

.App { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(bg.jpg);
  background-position: center;
  max-height: 100vh;

  grid-template-areas: 
        "chat game game"
        "chat game game"
        ". game game"  
      }

.visible {
  display: block;
};

.invisible {
  display: none;
};

h1 {
  font-size: 40px;
}

.text {
  font-size: 40px;
  color: blue
}

