*{
  margin: 0;
  padding: 0;
}

.login__screen {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  background-image: url(bg.jpg);
  background-position: center;
  min-height: 100vh; 
  grid-template-areas: 
            ". login ."
}

.game__screen { 
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
  background-image: url(bg.jpg);
  background-position: center;
  min-height: 100vh;
  grid-template-areas: 
        "chat game" 
}

.chat {
  grid-area: chat;
  margin-top: 10%;
  border: solid black 2px;
  height: 80%;
  background-color: whitesmoke;
  overflow: hidden;
}

#game__container {
  grid-area: game;
  margin-top: 1%;
}

.visible {
  display: block;
};

.invisible {
  display: none;
};

h1 {
  font-size: 40px;
}

.text {
  font-size: 40px;
  color: blue
}

